.basement{
    position: fixed; /* Фиксирует элемент */
    bottom: 0; /* Прижимает к верхнему краю окна */
    left: 0; /* Прижимает к левому краю (опционально) */
    width: 100%; /* Растягивает на всю ширину */
    z-index: 1000; /* Убедись, что шапка выше других элементов */
    background-color: #918c8c; /* Важно задать фон, иначе контент будет просвечивать */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Легкая тень для красоты (опционально) */}